:root {
  --amazon-orange: #FF9900;
  --amazon-light-orange: #FEBD69;
  --amazon-blue: #146EB4;
  --amazon-dark-blue: #232F3E;
  --amazon-light-gray: #F3F3F3;
  --amazon-text: #111111;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--amazon-text);
}
