.home-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-page h1 {
    color: var(--amazon-text);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-page img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.home-page p {
    color: var(--amazon-text);
    font-size: 1rem;
    line-height: 1.5;
}
